:root {
  --light-bg: #ffeebf; /*BACKGROUND COLOR*/
  --light-bg-txt: #13141c; /*MAIN TEXT*/
  --light-bg-head: #857b61; /*HEADER COLOR*/
  --light-bg-head-shad: #524c3c; /*SHADOW*/
  --light-bg-head-txt: #fff5d9; /*HEADER TEXT*/
  --light-bg-head-txt-hover: #aba491; /*HEADER TEXT (HOVERED)*/
  --light-bg-head-light-col: #b3a788; /*HEADER TEXT BACKGROUND COLOR*/
  --light-bg-head-light-col-hover: #ebdcb5; /*HEADER TEXT BACKGROUND COLOR (HOVERED)*/
  --dark-bg: #181724;
  --dark-bg-txt: #c4cbff;
  --dark-bg-head: #0d0c17;
  --dark-bg-head-shad: #272836;
  --dark-bg-head-txt: #babcff;
  --dark-bg-head-txt-hover: #9191ab;
  --dark-bg-head-dark-col: #69698c;
  --dark-bg-head-dark-col-hover: #bcbce6;
}

* {
  margin: 0;
  padding: 0;
  transition: 0.5s;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  line-height: 1.5;
}

.light-mode {
  background-color: var(--light-bg);
  font-family: "Playfair Display", serif;
  color: #757164;
  font-size: 16px;
  line-height: 1.5;
}

.dark-mode {
  background-color: var(--dark-bg);
  font-family: "Playfair Display", serif;
  color: var(--dark-bg-head-txt);
  font-size: 16px;
  line-height: 1.5;
}

.l-mode-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--light-bg-head);
  box-shadow: 10px 20px 10px var(--light-bg-head-shad);
  height: 6vh;
}

.d-mode-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-bg-head);
  box-shadow:10px 20px 10px var(--dark-bg-head-shad);
  height: 6vh;
}

.container {
  width: 100%;
  max-width: 800px;
}

.header > .container > .header-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.l-mode-headText {
  font-size: 18px;
  text-decoration: none;
  color: var(--light-bg-head-txt);
  background-color: var(--light-bg-head-light-col);
  padding: 8px 16px;
  border-radius: 5px;
  transition: 0.5s;
  display: inline-block;
  text-align: center;
}

.d-mode-headText {
  font-size: 18px;
  text-decoration: none;
  color: var(--dark-bg-head-txt);
  background-color: var(--dark-bg-head-dark-col);
  padding: 8px 16px;
  border-radius: 5px;
  transition: 0.5s;
  display: inline-block;
  text-align: center;
}

.theme-switch {
  border: none;
}

.l-mode-headText:hover{
  background-color: var(--light-bg-head-light-col-hover);
  color: var(--light-bg-head-txt-hover);
  transition: 0.5s;
}

.d-mode-headText:hover{
  background-color: var(--dark-bg-head-dark-col-hover);
  color: var(--dark-bg-head-txt-hover);
  transition: 0.5s;
}

.main {
  padding: 15px;
  margin-top: 10px;
}
